In [13]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model

In [4]:
data = pd.read_csv('student-mat.csv',sep=';') # El separador es ; dentro del dataframe

In [6]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [7]:
data = data[["G1","G2","G3","studytime","failures","absences"]]

In [8]:
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [9]:
predict = "G3"

In [11]:
X = np.array(data.drop([predict],1))
y = np.array(data[predict])

In [17]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [18]:
linear = linear_model.LinearRegression()
linear.fit(x_train, y_train)
linear.score(x_test, y_test)
acc = linear.score(x_test,y_test)
print(acc)

0.8432653253899929

In [22]:
print("Co: \n",linear.coef_)
print("Intercept: \n", linear.intercept_)

Co:
 [ 0.15692176  0.97472965 -0.22647012 -0.26235599  0.03441645]
Intercept:
 -1.4104597053558443

In [24]:
predictions = linear.predict(x_test)

In [25]:
for x in  range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

6.840081999624177 [6 8 1 1 0] 8
15.056268035259297 [16 15  4  0  7] 17
11.901497252664575 [14 11  1  0 18] 13
9.365025380962367 [ 9 10  2  0  2] 10
13.074538608762957 [13 13  1  0  0] 12
14.343855845931202 [14 14  1  0  4] 14
9.521947145389282 [10 10  2  0  2] 11
14.954449561070444 [14 15  2  0  0] 15
11.783819091048052 [14 12  4  0  6] 13
14.049268262280076 [13 14  1  0  0] 13
19.32270257819037 [19 19  4  0  4] 20
15.18020423510946 [15 15  2  0  2] 14
10.584765653721213 [11 11  2  0  0] 10
16.258898698159392 [14 16  1  0  3] 16
13.073823163648305 [14 13  2  0  2] 13
13.05385177333095 [14 13  3  0  8] 14
9.778738283749648 [ 8 10  1  0 12] 10
12.198247438949984 [12 12  2  0 14] 12
6.962625835620782 [9 8 4 0 2] 8
12.129414529337879 [12 12  2  0 12] 11
9.52123170027463 [11 10  3  0  4] 10
10.319068199047482 [10 11  4  0 10] 11
16.39994450786831 [17 16  2  0  0] 16
11.681285171744545 [13 12  3  0  1] 12
13.52312539092124 [15 14  3  2  4] 15
6.589986211828412 [ 7  8  2  3 10] 10
5.42801377467768 [8 7 2 3 0] 0
12.810272044318527 [10 13  1  0  6] 13
9.276936526147557 [ 8 10  2  0  4] 9
7.690897712376545 [ 9  8  2  0 10] 8
13.97971990755332 [14 14  2  0  0] 14
6.387879465516896 [7 7 1 0 3] 8
13.822798143126406 [13 14  2  0  0] 15
12.621598370455615 [13 13  3  0  0] 13
8.302206872630435 [8 9 2 0 4] 10
8.040566327180318 [7 9 1 1 2] 8
15.33712599953638 [16 15  2  0  2] 15
13.14265607326041 [14 13  2  0  4] 13
14.275022936319097 [14 14  1  0  2] 14
14.411973310428657 [15 14  2  0  8] 14