In [2]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
import matplotlib.pyplot as pyplot
import pickle #saves trained models 
from matplotlib import style

In [3]:
data = pd.read_csv('student-mat.csv',sep=';') # El separador es ; dentro del dataframe

In [4]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
data = data[["G1","G2","G3","studytime","failures","absences"]]

In [6]:
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [7]:
predict = "G3"

In [8]:
X = np.array(data.drop([predict],1))
y = np.array(data[predict])

In [9]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [11]:
linear = linear_model.LinearRegression()
linear.fit(x_train, y_train)
linear.score(x_test, y_test)
acc = linear.score(x_test,y_test)
print(acc)

0.9107101992093883

In [12]:
print("Co: \n",linear.coef_)
print("Intercept: \n", linear.intercept_)

Co:
 [ 0.15385847  0.98265866 -0.22104245 -0.33989735  0.03839052]
Intercept:
 -1.4884851788293414

In [13]:
predictions = linear.predict(x_test)

In [14]:
for x in  range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

11.03180452143293 [11 11  2  0 12] 11
11.697741992748579 [10 12  1  0  2] 12
9.809205712433076 [10 10  1  0  4] 10
6.783559498725124 [ 7  7  1  0 14] 5
8.672392181840738 [8 9 1 0 8] 10
14.963328358331763 [14 15  2  0  0] 15
12.082536370817646 [13 12  1  0  0] 12
6.040544590675616 [ 7  6  2  0 26] 6
3.7214727020320417 [ 6  5  1  3 16] 5
10.647899351764197 [11 11  2  0  2] 10
11.303941053534828 [12 12  4  0  1] 12
12.014463178557554 [11 12  2  0 12] 11
12.005458934083787 [12 12  1  0  2] 11
19.374732498981054 [19 19  4  0  4] 20
9.520979274045958 [11 10  3  0  4] 11
8.992516280983498 [10 10  4  0  0] 10
11.937682144623807 [11 12  2  0 10] 13
10.724976788498056 [12 11  2  0  0] 12
9.732424678499331 [10 10  1  0  2] 10
10.724680385697944 [11 11  2  0  4] 11
14.876653871523912 [12 15  1  0  0] 15
5.466340367354151 [8 7 2 3 8] 8
4.136217123545922 [6 5 2 0 6] 6
12.27302291464334 [10 13  2  1  6] 13
7.161566934453765 [8 8 2 0 0] 9
12.920933607348653 [13 13  2  0  2] 13
8.451349727313376 [8 9 2 0 8] 10
-1.7738884478262689 [4 0 1 2 0] 0
10.400870626742256 [13 10  2  1 22] 11
5.195953217404404 [7 6 2 0 4] 6
9.357523753304363 [ 9 10  2  0  2] 10
8.412085974938053 [ 7 10  3  1  0] 10
12.245102683158905 [12 12  2  0 14] 12
19.17908059801279 [17 18  2  0 21] 18
11.828424300655167 [12 12  2  1 12] 13
16.33048499072534 [16 16  2  0  2] 16
9.143268241117429 [11  9  2  0 14] 9
15.395517497841466 [16 15  3  0  9] 16
11.774819429482436 [11 12  1  0  0] 10
13.064305819541936 [10 13  1  0 12] 12

In [15]:
with open("student_model.pickle","wb") as f:
    pickle.dump(linear, f)

In [16]:
pickle_in = open("student_model.pickle","rb")

linear = pickle.load(pickle_in)

In [17]:
best = 0
for _ in range(30):
    x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)
    linear = linear_model.LinearRegression()
    linear.fit(x_train, y_train)
    linear.score(x_test, y_test)
    acc = linear.score(x_test,y_test)
    print(acc)
    if acc > best:
        best = acc
        with open("student_model.pickle","wb") as f:
            pickle.dump(linear, f)

0.8631619774449059
0.8391874464968468
0.9513335964366596
0.7378376061414471
0.7679663486296245
0.8182348123248994
0.9418041144664127
0.759662751962912
0.8428190161105594
0.8372286119016101
0.8182572074131976
0.8206063010823853
0.8441929236495508
0.8137414001870734
0.8534708316916979
0.8289468905678103
0.8851606679461281
0.7872771151721986
0.8661889822997426
0.822610772202871
0.863513175004798
0.8391557920919118
0.888807380483923
0.81842684849214
0.795445021420061
0.9087612314923318
0.8231000376409978
0.8442021613608981
0.8766274866282258
0.8040521917842272