In [6]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
import matplotlib.pyplot as pyplot
import pickle #saves trained models 
from matplotlib import style

In [7]:
data = pd.read_csv('student-mat.csv',sep=';') # El separador es ; dentro del dataframe

In [8]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [9]:
data = data[["G1","G2","G3","studytime","failures","absences"]]

In [10]:
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [11]:
predict = "G3"

In [12]:
X = np.array(data.drop([predict],1))
y = np.array(data[predict])

In [13]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [14]:
linear = linear_model.LinearRegression()
linear.fit(x_train, y_train)
linear.score(x_test, y_test)
acc = linear.score(x_test,y_test)
print(acc)

0.7480027484842051

In [15]:
print("Co: \n",linear.coef_)
print("Intercept: \n", linear.intercept_)

Co:
 [ 0.16398404  0.97050498 -0.11476334 -0.31691363  0.03485635]
Intercept:
 -1.6376478351499362

In [16]:
predictions = linear.predict(x_test)

In [17]:
for x in  range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

9.617141055354661 [10 10  2  0  4] 10
6.280076785415145 [8 7 1 1 7] 8
6.677000800733737 [ 7  7  1  0 14] 5
14.707429352887877 [13 15  3  0  0] 15
7.094077692398111 [7 8 4 0 8] 8
6.447370728482783 [8 7 2 0 6] 9
18.602848513306377 [19 18  3  0  0] 19
12.922270111563728 [10 13  1  0 12] 12
8.277684011649782 [10  9  4  0  0] 0
11.816406399337865 [12 12  2  0  2] 11
9.512675412978568 [ 9 10  3  0  9] 9
11.205520903821034 [ 8 12  1  0  0] 12
16.37485446717691 [15 16  1  0  4] 15
16.448633814974656 [17 16  2  0  0] 17
14.936956028947458 [13 15  1  0  0] 15
9.089470877271303 [11  9  2  0 12] 9
14.089554487310185 [15 14  4  0  4] 14
9.453157020062584 [ 9 10  2  0  4] 10
3.439239651336762 [3 5 2 1 8] 5
11.931169737367657 [12 12  1  0  2] 14
6.010008634085129 [ 7  6  2  0 26] 6
10.28423661819464 [ 9 11  2  0  0] 12
8.015258581833129 [7 9 2 0 0] 8
15.757082997790592 [16 15  3  0 16] 15
8.318668001881829 [8 9 2 0 4] 10
11.931273133559028 [11 12  2  0 10] 13
12.766419387110519 [13 13  3  0  0] 13
12.036598919770368 [14 12  2  1  8] 12
12.234682553607726 [12 12  2  0 14] 12
5.075978471047451 [ 6  6  2  1 13] 8
8.507210687709364 [10  9  2  0  0] 0
9.64879088995963 [10 10  2  1 14] 9
3.690978610182862 [ 6  5  1  3 16] 5
10.776188724070876 [12 11  2  0  0] 12
5.845921202601679 [ 7  6  1  0 18] 6
4.328012376340217 [6 5 1 0 7] 6
-1.730302286584581 [4 0 1 2 0] 0
8.531872734436194 [10  9  3  0  4] 9
12.796243955670901 [16 12  1  0  8] 13
11.66347680734336 [13 12  2  1  2] 12

In [18]:
with open("student_model.pickle","wb") as f:
    pickle.dump(linear, f)

In [19]:
pickle_in = open("student_model.pickle","rb")

linear = pickle.load(pickle_in)